* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

#progress {
  position: fixed;
  top: 0;
  width: 0%;
  background: rgb(218, 203, 0);
  height: 0.5rem;
  z-index: 1000;
  animation: progress-grow auto linear;
  animation-timeline: scroll(root block);
}

@keyframes progress-grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

header,
li,
a {
  list-style: none;
  text-decoration: none;
}

ul {
  background-color: rgba(0, 0, 0, 0.91);
  width: 16%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 375px 0 325px 20px;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
  backdrop-filter: blur(10px);
}

.logo-nav {
  width: 39px;
  position: absolute;
  left: 91px;
  top: 11px;
}

ul li a {
  color: rgba(250, 250, 250, 0.78);
}

.align-li {
  position: relative;
  bottom: 285px;
}

li a {
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-hamburger {
  font-size: 30px;
  margin: 10px 20px;
  cursor: pointer;
}

nav h2 {
  margin-left: 20px;
}

.content-1 {
  background-image: url(./Componets/Background-img/ini-img.jpg);
  height: 120vh;
  background-size: cover;
}

.content-1 h3 {
  font-weight: 200;
  letter-spacing: 10px;
  position: absolute;
  left: 35%;
  font-size: 40px;
  bottom: 60%;
}

.content-1 h1 {
  font-weight: 600;
  position: absolute;
  letter-spacing: -10px;
  width: 1px;
  line-height: 104px;
  font-size: 118px;
  left: 35%;
  color: #000000;
  bottom: 0;
  top: 40%;
}

.content-1 h4 {
  font-weight: 100;
  position: absolute;
  left: 70%;
  font-size: 25px;
  bottom: 26%;
  font-family: cursive;

  animation: letters-move alternate ease-in-out;
}

@keyframes letters-move {
  0% {
    font-weight: 200;
  }
  50% {
    font-weight: 300;
  }
  100% {
    font-weight: 800;
  }
}

.tracker {
  position: absolute;
  display: grid;
  bottom: -140px;
  left: 49%;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.text-h-1 {
  font-weight: bold;
  font-size: 25px;
}
.text-h-2 {
  font-weight: bold;
  font-size: 25px;
}
.text-h-3 {
  font-size: 25px;
  font-weight: bold;
  display: block;
}
.number {
  text-decoration: underline;
  text-decoration-color: rgb(168, 168, 0);
  text-decoration-thickness: 2px;
  font-size: 18px;
  cursor: pointer;
}
.fech {
  font-size: 18px;
  font-weight: 500;
}
.text-find {
  font-size: 18px;
  font-weight: 500;
}
.tracker div:nth-child(1) {
  line-height: 34px;
}

.box-align {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 50px;
  padding-bottom: 60px;
}

.ex-box {
  display: flex;
  flex: 1;
  padding-left: 20px;
  padding-bottom: 65px;
}

.ex-box h3 {
  position: absolute;
}

.ex-box p {
  line-height: 1, 6;
  padding-top: 10px;
  font-weight: 300;
}

.img-content-2 {
  width: 70px;
  height: 60px;
  margin: -15px 18px 0px 0px;
}

.content-2 {
  margin-bottom: 15px;
}

.content-2 h2 {
  font-size: 50px;
  text-align: center;
  margin: 70px;
}

.align-sec {
  display: flex;
  background-color: #000;
}

.content-3 {
  background-image: url(./Componets/Background-img/content-2-back.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: #000;
}

.content--3 {
  color: #fafafafa;
}

.content--3 h2 {
  margin: 160px 21px 20px 20px;
  font-size: 59px;
  line-height: 70px;
}

.content--3 p {
  margin: 0 30px 0 10px;
}

.content--3 button {
  margin-top: 20%;
  margin-left: 10%;
  background: transparent;
  color: #fafafafa;
  border: 2px solid #adadad;
  border-radius: 55px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  height: 10%;
  width: 40%;
  transition: 900ms;
}

.content--3 button:hover {
  background-color: #adadad;
  color: #000;
  transition: 500ms;
}

.content-4 h2 {
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.tp-panes img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
}

.cart-pan {
  box-shadow: 1px 1px 14px 2px #53678d7c;
  border-radius: 20px;
  padding: 30px;
  transition: 500ms;
}

.cart-pan:hover {
  cursor: pointer;
  padding: 0px 20px 0px 20px;
}

.cart-pan h4 {
  margin: 10px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.cart-pan p {
  text-align: center;
}

.cart-pan a {
  text-decoration: underline;
  margin-left: 80px;
  color: #000000;
}

.tp-panes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px;
}

.separator {
  height: 10vh;
}

.content-5 {
  padding: 0 15%;
  margin-bottom: 10%;
}

.content-5 h2 {
  font-size: 61px;
  margin-top: 160px;
  line-height: 1.1;
  font-weight: 600;
}

.ilusion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}
.image1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  bottom: -25%;
}
.image2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.ilusion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-5 h3 {
  margin: 40px;
  font-size: 30px;
}

.content-5 p {
  margin: 40px;
  font-size: 19px;
  line-height: 1.9;
}

.content-5 button {
  margin-top: -17%;
  margin-left: 4%;
  background: transparent;
  color: #000000fa;
  border: 2px solid #000000;
  border-radius: 55px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 24%;
  padding: 17px;
  transition: 900ms;
}

.content-5 button:hover {
  color: #fff;
  background-color: #000;
}

.content-6 {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 48%), rgb(0 0 0 / 47%)),
    url();
  background-position: 50% 50%;
  height: 100vh;
}

.content-6 h2 {
  color: #fff;
  text-align: center;
  padding: 40px;
  font-size: 3rem;
}

.align-box {
  display: flex;
}

.box {
  background-color: #adadad;
  margin-left: 20px;
  padding: 13%;
  align-items: center;
  align-content: center;
  position: relative;
}
